.RightComponent {
    border: 2px solid darkgray;
    height: 98vh;
    width: 100%;
    /* background-color: lightgoldenrodyellow; */
    background-color: #f5f7fa;
}

#button {
    border-radius: 15px;
}
