.RightComponent {
    border: 2px solid darkgray;
    height: 98vh;
    width: 100%;
    /* background-color: lightgoldenrodyellow; */
    background-color: #f5f7fa;
}

.featured-dish-container{
    padding: 10px;
}

