.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin: 0 auto;
    background-color: black;
    height: 10vh;
    width: 100%;
    color: white;

}

#logo {
    /* image: url('../../images/logo.png') */
}