.header{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr ;
    margin: 0 auto;
    background-color: black;
    height: 10vh;
    width: 100%;
    color: white;
}

.header-flex{
    display: grid;
    margin: 0 auto;
}

#logo {
    image: url('../../images/logo.png')
}
