.App {
  height: 100vh;
}

.body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 90vh;
}




/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
