.App {
  height: 100vh;
}

.body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 90vh;
}

.search-container {
  display: flex;
}

.jumbotron {
  /* background-image: url("./images/queso-blanco.png"); */
  /* background-size: cover; */
  /* height: 400px; */
}

#logo {
  image: url('/images/logo.png')
}




/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

